html, head, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, table, tr, td, tbody,
thead, th, em, strong, a, label, input, textarea
{
    padding: 0px;
    margin: 0px;
}

html
{
    font-size: 10pt;
}

body
{
    font-family: sans-serif;
    padding: 5px 25px 5px 25px;
    background: white;
    color: black;
}

p:first-letter
{
    float: left;
    font-size: 2.1em;
    font-weight: bold;
}

h1
{
    margin: -5px -30px 0px -30px;
    padding: 10px 20px;
    font-size: 2em;
    border-bottom: 1px solid black;
}

h1, h2, h3, h4, h5, h6
{
    clear: left;
}

h4, h5, h6, p
{
    margin: 20px 0px;
}

h2
{
    font-size: 1.8em;
    margin: 0.5em 0;
}

h3
{
    font-size: 1.4em;
}

h4
{
    font-size: 1.3em;
}

h5
{
    font-size: 1.2em;
}

h6
{
    font-weight: bold;
}

div#menu
{
    padding: 0 10px;
    right: 0px;
    bottom: 0px;
    margin: -1px -25px 1em -25px;
    border-bottom: 1px solid black;
}

div#menu h2
{
    display: none;
}

div#menu h3
{
    display: inline-block;
    width: auto;
    font-size: 1em;
    padding: 2px 1em;
}

div#menu ul
{
    display: inline-block;
    width: auto;
    font-size: 1em;
    padding: 0 0.5em;
}

div#menu ul li
{
    display: inline-block;
    width: auto;
    font-size: 1em;
    padding: 2px 10px;
}

div#menu ul li.selected
{
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 2px 9px;
    background: #cccccc;
}

div#menu ul li a:hover
{
    text-decoration: underline;
}

a
{
    color: #00007f;
    text-decoration: none;
}

a:hover
{
    color: #7777ee;
}

p, td, th
{
    text-align: justify;
}

a.icon
{
    display: block;
    float: left;
    width: 250px;
    height: 48px;
    padding: 3px;
    cursor: pointer;
}

a.icon:hover
{
    background: #cdd0e3;
    border: 1px solid #6e7bbd;
    padding: 2px;
    color: black;
}

a.icon img
{
    height: 48px;
    float: left;
    margin-right: 5px;
}

a.icon em
{
    display: block;
    font-style: normal;
    font-weight: bold;
    margin-top: 3px;
}

span.colour-box
{
    display: inline-block;
    width: 4em;
    height: 3em;
    border: 1px solid black;
}
