html, head, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, table, tr, td, tbody,
thead, th, em, strong, a
{
    padding: 0px;
    margin: 0px;
}

body
{
    font-family: sans-serif;
    padding: 5px 250px 5px 25px;
}

p:first-letter
{
    float: left;
    font-size: 2.1em;
    font-weight: bold;
}

h1
{
    margin: -5px -30px 0px -30px;
    padding: 20px;
    height: 50px;
    font-size: 2em;
}

h1, h2, h3, h4, h5, h6
{
    clear: left;
}

h4, h5, h6, p
{
    margin: 20px 0px;
}

h2
{
    font-size: 1.8em;
    border-bottom: 1px solid black;
}

h3
{
    font-size: 1.6em;
}

h4
{
    font-size: 1.4em;
}

h5
{
    font-size: 1.2em;
}

h6
{
    font-weight: bold;
}

div#menu
{
    background: #e9e9eb;
    position: absolute;
    width: 200px;
    padding: 10px;
    right: 0px;
    top: 0px;
    margin: 0px;
    border-left: 1px solid black;
    border-bottom: 5px solid black;
    min-height: 700px;
}

div#menu h2, div#menu h3
{
    margin: 0px;
}

div#menu h2
{
    font-size: 1.2em;
    text-align: right;
    padding: 20px;
    border: 0px;
    color: #b9c9db;
}

div#menu h3
{
    background: #b9c9db;
    font-size: 1em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0px -10px;
    padding: 0px 20px;
    text-align: left;
}

div#menu ul
{
    padding: 10px 10px 10px 20px;
}

a
{
    color: #00007f;
    text-decoration: none;
}

a:hover
{
    color: #7777ee;
}

div#menu ul li
{
    display: inline;
}

div#menu ul li a
{
    display: block;
    padding: 1px 0px;
}

div#menu ul li.selected a
{
    background: #ccd9e7;
    font-size: 1em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 5px solid black;
    margin: 0px -20px 0px -50px;
    padding: 0px 30px;
}

div#menu ul a:hover
{
    background: white;
    font-size: 1em;
    border-top: 1px solid #b9c9db;
    border-bottom: 1px solid #b9c9db;
    margin: 0px -20px 0px -30px;
    padding: 0px 20px 0px 30px;
    color: black;
}

p, td, th
{
    text-align: justify;
}

a.icon
{
    display: block;
    float: left;
    width: 250px;
    height: 48px;
    padding: 3px;
    cursor: pointer;
}

a.icon:hover
{
    background: #cdd0e3;
    border: 1px solid #6e7bbd;
    padding: 2px;
    color: black;
}

a.icon img
{
    height: 48px;
    float: left;
    margin-right: 5px;
}

a.icon em
{
    display: block;
    font-style: normal;
    font-weight: bold;
    margin-top: 3px;
}

div.comment
{
    background: #eeeeee;
    border: 1px solid #dddddd;
    padding: 3px;
    font-style: italic;
}

div.comment h4
{
    text-align: right;
    margin-top: 0px;
    color: #bbbbbb;
    font-size: 1em;
}

div.comment div.date
{
    text-align: right;
    color: #bbbbbb;
    font-size: 0.8em;
}

div.comment div.time
{
    text-align: right;
    color: #bbbbbb;
    font-size: 0.8em;
}
