body
{
    font-family: sans-serif;
    padding-left: 200px;
}

div#menu
{
    position: absolute;
    width: 140px;
    padding: 10px;
    left: 0px;
    top: 0px;
    margin: 0px;
    border-right: 1px dashed black;
}

div#menu ul
{
    padding: 10px 10px 10px 20px;
    margin: 0px;
}

div#menu ul li
{
    padding: 0px;
    margin: 0px;
}

a
{
    color: #00007f;
    text-decoration: none;
}

a:hover
{
    color: #7777ee;
}

div#menu ul li.selected a
{
    font-weight: bold;
}
