html, head, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, table, tr, td, tbody,
thead, th, em, strong, a
{
    padding: 0px;
    margin: 0px;
}

body
{
    font-family: sans-serif;
    padding: 5px 25px 5px 200px;
}

h1, h2, h3, h4, h5, h6, p
{
    margin: 20px 0px;
}

h1
{
    font-size: 2em;
}

h2
{
    font-size: 1.8em;
}

h3
{
    font-size: 1.6em;
}

h4
{
    font-size: 1.4em;
}

h5
{
    font-size: 1.2em;
}

h6
{
    font-weight: bold;
}

div#menu h2
{
    margin: 0px;
    font-size: 1.4em;
}

div#menu
{
    background: #b9c9db;
    position: absolute;
    width: 150px;
    padding: 10px;
    left: 0px;
    top: 0px;
    margin: 0px;
    border-right: 1px dashed black;
}

div#menu ul
{
    padding: 10px 10px 10px 20px;
}

a
{
    color: #00007f;
    text-decoration: none;
}

a:hover
{
    color: #7777ee;
}

div#menu ul li.selected a
{
    font-weight: bold;
}

p, td, th
{
    text-align: justify;
}

a.icon
{
    display: block;
    float: right;
    width: 250px;
    height: 48px;
    padding: 3px;
    cursor: pointer;
}

a.icon:hover
{
    background: #cdd0e3;
    border: 1px solid #6e7bbd;
    padding: 2px;
}

a.icon img
{
    height: 48px;
    float: left;
    margin-right: 5px;
}
